<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <categorizedSettings>
    <system>
      <add name="UserAgent" value="" description="Browser User-Agent to use when authenticating" encrypted="false" />
      <add name="QueryInterval" value="3" description="Echo activity query interval, in seconds (integer)" encrypted="false" />
      <add name="TimeTolerance" value="30.0" description="Echo activity time processing tolerance, in seconds (floating-point)" encrypted="false" />
      <add name="StartKeyWord" value="" description="Key word to recognize at start of command, defaults to Simon Says" encrypted="false" />
      <add name="EndKeyWord" value="" description="Key word to recognize at end of command, defaults to Stop" encrypted="false" />
      <add name="TTSSpeed" value="0" description="Speech rate to use for TTS engine (-10 to 10)" encrypted="false" />
    </system>
    <user>
      <!-- Note that for User scoped settings, value here only defines default value when User setting does not exist -->
      <add name="UserName" value="" description="User name to use when authenticating" encrypted="true" scope="User" />
      <add name="Password" value="" description="Password to use when authenticating" encrypted="true" scope="User" />
      <add name="TTSVoice" value="" description="Selected text-to-speech voice" encrypted="false" scope="User" />
    </user>
  </categorizedSettings>
  <log4net>
    <!-- Default to a simple daily log file -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\AlexaDo\AlexaDo.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root> 
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ExpressionEvaluator" publicKeyToken="90d9f15d622e2348" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
