<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="ExpressionEvaluator" version="2.0.4.0" targetFramework="net46" />
  <package id="GSF.Core" version="2.1.391-beta" targetFramework="net46" />
  <package id="JSON" version="1.0.1" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Runtime" version="0.8.31-beta" targetFramework="net46" />
</packages>