<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="AlexaDo" Language="1033" Version="!(bind.FileVersion.AlexaDo.exe)" Manufacturer="J. Ritchie Carroll" UpgradeCode="8cff82ac-af1b-491d-a4d5-045c639aa567">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <?if $(var.Platform) = x64 ?>
      <?define ApplicationDescription = "AlexaDo Amazon Echo Invocation Plug-in Application (64-bit)" ?>
    <?else ?>
      <?define ApplicationDescription = "AlexaDo Amazon Echo Invocation Plug-in Application (32-bit)" ?>
    <?endif ?>

    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message='This setup requires Microsoft .NET Framework 4.5 or greater - this will need to be installed before installation can continue.'>
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="AllProducts" Title="All Products" Level="1" Display="expand" ConfigurableDirectory="INSTALLFOLDER" Description="All AlexDo Components">
      <Feature Id="AlexaDoFeature" Title="AlexaDo Echo Monitor" Description="$(var.ApplicationDescription)">
        <ComponentRef Id="AlexaDo" />
        <ComponentRef Id="AlexaDoConfig" />
      </Feature>

      <ComponentGroupRef Id="Dependencies" />
      <ComponentRef Id="Cleanup" />
    </Feature>

    <!-- User Interface -->
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\AlexaDoSetupBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\AlexaDoSetupDialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\InstallLicense.rtf" />

    <Icon Id="AlexaDo.ico.exe" SourceFile="$(var.AlexaDo.TargetPath)" />

    <!-- Add/Remove Programs Icon -->
    <Property Id="ARPPRODUCTICON" Value="AlexaDo.ico.exe" />
    <Property Id="ARPCOMMENTS">$(var.ApplicationDescription)</Property>
    <Property Id="ARPURLINFOABOUT">https://github.com/ritchiecarroll/AlexaDo</Property>
  </Product>
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
      <Directory Id="ProgramFiles64Folder">
        <!-- C:\Program Files\AlexaDo -->
        <Directory Id="INSTALLFOLDER" Name="AlexaDo" />
      </Directory>
      <?else ?>
      <Directory Id="ProgramFilesFolder">
        <!-- C:\Program Files (x86)\AlexaDo -->
        <Directory Id="INSTALLFOLDER" Name="AlexaDo" />
      </Directory>
      <?endif ?>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="AlexaDo" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Applications -->
      <Component Id="AlexaDo">
        <File Id="AlexaDo.exe" Name="$(var.AlexaDo.TargetFileName)" Source="$(var.AlexaDo.TargetPath)" />
      </Component>

      <Component Id="AlexaDoConfig">
        <File Id="AlexaDo.exe.config" Name="$(var.AlexaDo.TargetFileName).config" Source="$(var.AlexaDo.TargetPath).config" />
      </Component>

      <!-- Cleanup -->
      <Component Id="Cleanup" Guid="{E4A3FC2E-4D4C-4A9B-A1D5-1B95BBC33E90}">
        <CreateFolder />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Dependencies" Directory="INSTALLFOLDER">
      <!-- Libraries -->
      <Component Id="AlexaDoPlugin">
        <File Id="AlexaDoPlugin.dll" Name="$(var.AlexaDoPlugin.TargetFileName)" Source="$(var.AlexaDoPlugin.TargetPath)" />
      </Component>

      <!-- Json Dependencies -->
      <Component Id="Json">
        <File Id="Json.dll" Name="Json.dll" Source="$(var.SolutionDir)\packages\JSON.1.0.1\lib\net40\Json.dll" />
      </Component>

      <!-- log4net Dependencies -->
      <Component Id="log4net">
        <File Id="log4net.dll" Name="log4net.dll" Source="$(var.SolutionDir)\packages\log4net.2.0.3\lib\net40-full\log4net.dll" />
      </Component>

      <!-- GSF Dependencies -->
      <Component Id="GSF.Core">
        <File Id="GSF.Core.dll" Name="GSF.Core.dll" Source="$(var.SolutionDir)\packages\GSF.Core.2.0.239\lib\net45\GSF.Core.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>